{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>vinyl</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <nav>
    <ul>
      <li><a href="{% url 'album_index' %}">All Albums</a></li>
      <li><a href="{% url 'album_create' %}">Add an Album</a></li>
      <!-- Add a new link -->
      <li><a href="{% url 'playlist-create' %}">Create a Playlist</a></li>

    </ul>
  </nav>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>