body {
  font-family: "Righteous", sans-serif;
  background-color: black;
  font-size: 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Righteous", sans-serif;
}

.navbar a:hover {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.album-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-item {
  margin: 15px;
}

.album-item img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 300px;
}

.center-message {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.no-albums-gif {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 5px;
}
