body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .album-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .album-item {
    margin: 15px;
  }
  
  .album-cover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
  }
  
  .album-cover img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .btn.create-btn {
   
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      background-color: #0056b3;
  
  }
  
  .btn.create-btn:hover {
    background-color: #0056b3;
  }